@font-face {
    font-family: Gotham Bold;
    src: url(../fonts/GothamBold.ttf);
   }

@font-face {
    font-family: Gotham;
    src: url(../fonts/GothamMedium.ttf);
}

@font-face {
    font-family: Gotham-Light;
    src: url(../fonts/Gotham-Light.otf);
}

@font-face {
    font-family: Gotham-Italic;
    src: url(../fonts/GothamLightItalic.ttf);
}